header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
}



.webLogo {
    display: flex;
    align-items: center;
    text-align: center;

}

.modes {
    margin-top: 3vh;
}

