header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2vh;
    background-color: red;

}

.lightMode {
    display: none;
}

.web_nav {
    display: flex;
    gap: 70vh;
}



.webLogo {
    display: flex;
    align-items: center;
    text-align: center;

}

.modes {
    margin-top: 1vh;
}

